body {
	margin: auto;
	width: 960px;
	background-image: url("../images/brushed.png");
	position: relative;
}

p {
	font-size: 15px;
	font-family: sans-serif;
	color: #777;
	text-align: justify;
	line-height: 1.5em;
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

h1 {
	font-size: 25px;
	font-family: "Helvetica Neue";
	font-weight: bold;
	color: #5B9BD5;
	text-align: left;
	margin-top: 10px;
	margin-left: 5px;
	padding: 5px;
}

h2 {
	font-size: 18px;
	font-family: "Helvetica";
	font-weight: bold;
	color: #777;
	padding: 13px;
}

h3 {
	font-size: 20px;
	font-family: "Helvetica Neue";
	font-weight: bold;
	color: #5B9BD5;
	padding: 5px;
}

h4 {
	font-size: 10px;
	font-family: "Helvetica Neue";
	font-weight: bold;
	color: white;
	padding: 35px;
}


header {
	margin-top: 8px;
	width: 960px;
	height: 100px;
	border-width: 15px;
	background-color: #ffffff;
	border-color: #cccccc;
	text-align: center;
	position: relative;
}

nav {
	margin-top: 38px;
	margin-right: 75px;
    float: right;
    position: relative;
}

nav ul li {
    list-style-type: none;
    width: 85px;
    float: left; 
}

li a {
     text-decoration: none;
     font-family: sans-serif;
     font-size: 18px;
     color: #5B9BD5;
}

li a:hover {
	font-style: arial;
    color: black;
}

section{
	margin-top: 18px;
	margin-left: 80px;
	width: 500px;
	height: 330px;
	background-color: #FFF;
	text-align: center;
	float: left;
	position: relative;
}
aside {
	margin-top: 18px;
	margin-right: 75px;
	width: 265px;
	height: 138px;
	background-color: #FFF;
	text-align: center;
	float: right;
}

footer {
	margin: auto;
	margin-top: 0px;
	width: 960px;
	height: 75px;
	background-color: #666666; 
	text-align: center;
	position: absolute; 
	top: 458px;
	left: 0px; 
}

#logo-header {
	margin-left: 45px;
	background-image: url("../images/logo-david.png");
	background-size: 226px 108px;
	width: 226px;
	height: 100px;
	position: absolute;
	top:0px;
}

#icons {
	position: relative;
	float: right;
	margin-right: 30px;
}

#icons ul li{
    list-style-type: none;
    float: left;
 }

#icons li a {
     text-decoration: none;
     }

.contacto{
    margin-top: 0px;
 }

.contacto label{
    display: block; /* esto es para que el label se sobreponga a la caja de texto */
    font-weight: bold;
}
.contacto div{
    margin-bottom: 15px; /* esto los separara un poco */
}

.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
    background: #e4f1f6; /* fallback para navegadores que no soporten degradados */
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
#cleared{
	clear: both;
}